.tile {
  background: rgb(195, 176, 109);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}
.intersection {
  color: black;
  font-size: 10px;
}
.star-point {
  color: black;
  font-size: 35px;
}
.minor-star-point {
  color: black;
  font-size: 25px;
}
.intersection:hover,
.star-point:hover,
.minor-star-point:hover {
  background: green;
}
